/* The following is applied to each action item */

.action-container{
    display: flex;
    margin: -1rem;
}

.action-checkbox{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    margin: auto;
    padding: auto;
}

.action-item{
    display: flex;
    margin-top: .5rem;
    justify-content: center;
    flex-grow: 2;
    font-size: 1.5vmin;
    padding: 4px;
    
}

.action-priority{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 1.5vmin;
}